/MVCandAPI/ChangeLog/.vs/
/MVCandAPI/ChangeLog/ChangeLog.Data/bin/
/UI/ChangeLog-Webapp/node_modules/
/MVCandAPI/ChangeLog/ChangeLog.Service/bin/
/MVCandAPI/ChangeLog/ChangeLog.Data/obj/
/MVCandAPI/ChangeLog/ChangeLog.Model/bin/
/MVCandAPI/ChangeLog/ChangeLog/bin/
/MVCandAPI/ChangeLog/ChangeLog.Data/obj/
/MVCandAPI/ChangeLog/ChangeLog.Model/obj/
/MVCandAPI/ChangeLog/ChangeLog.Service/obj/
/MVCandAPI/ChangeLog/ChangeLog.Data/obj/
/MVCandAPI/ChangeLog/ChangeLog.Model/obj/
/MVCandAPI/ChangeLog/ChangeLog.Service/obj/
/MVCandAPI/ChangeLog/ChangeLog/obj/
/MVCandAPI/ChangeLog/ChangeLog.Data/obj/
/MVCandAPI/ChangeLog/ChangeLog.Model/obj/
/MVCandAPI/ChangeLog/ChangeLog.Service/obj/
/MVCandAPI/ChangeLog/ChangeLog/obj/
/MVCandAPI/ChangeLog/ChangeLog.Data/obj/
